<div class="ui  vertical footer segment" style="padding-top: 4rem">
  <div class="ui center aligned container">
    <img src="<%- config.logoUrl %>" class="ui centered avatar image"><br>
    <div class="ui horizontal small divided link list">
      <a class="item" href="https://github.com/memset0/membot" target="_blank">
				<p>Yet Another Open Source &amp; Cross-platform Chatbot</p>
				<p>Powered by koishi&nbsp;&nbsp;·&nbsp;&nbsp;Code by memset0</p>
			</a>
    </div>
  </div>
</div>


</div>

		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
		<script>
			document.addEventListener('DOMContentLoaded', () => {
				$('.ui.dropdown').dropdown();
			});
		</script>

	</body>
</html>