<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title><%= title.endsWith('membot') ? title : title + ' - membot' %></title>
    <link rel="icon" href="<%- config.faviconUrl || 'https://memset0.cn/img/favicon.png' %>" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="ui large borderless fixed menu">
      <div class="ui container">
        <div class="header item"><%= koishi.nickname %></div>
        <!--<a class="active item">Link</a>
        <div class="ui dropdown item" tabindex="0">
          Dropdown
          <i class="dropdown icon"></i>
          <div class="menu" tabindex="-1">
            <div class="item">Action</div>
            <div class="divider"></div>
            <div class="item">Separated Link</div>
          </div>
        </div>-->
        <div class="right menu">
          <!--<div class="item">
            <div class="ui action left icon input">
              <i class="search icon"></i>
              <input type="text" placeholder="Search" />
              <button class="ui button">Submit</button>
            </div>
          </div>-->
          <a class="item" href="https://github.com/memset0/membot" target="_blank">
            <i class="github icon"></i>
            View Source
          </a>
        </div>
      </div>
    </div>
    <div class="ui container" id="container" style="margin-top: 6rem">