@import 'various';

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  background: rgb(250, 250, 252);
}

.container {
  width: 100%;
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
}

.container > .arco-card > .arco-card-body {
  padding: 24px;
}
